.auto-group-qkkj-zSf {
    flex-shrink: 0;
    height: 409.1rem;
    position: relative;
    width: 100%;
  
    .auto-group-qlr1-eXD {
      align-items: center;
      display: flex;
      height: 5.2998rem;
      left: 5.6rem;
      position: absolute;
      top: 2.4rem;
      width: 155.7rem;
  
      .frame-tRZ {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        height: 100%;
        overflow: hidden;
        position: relative;
  
        .group-RAb {
          flex-shrink: 0;
          height: 5.2998rem;
          margin-right: 0.4652rem;
          object-fit: contain;
          position: relative;
          vertical-align: top;
          width: 4.1542rem;
        }
        .auto-group-pdqv-7JK {
          flex-shrink: 0;
          height: calc(100% - 2.0236rem);
          margin: 1.164rem 0rem 0.859rem 0rem;
          width: 11.7808rem;
  
          .auto-group-tsqf-zN7 {
            align-items: center;
            display: flex;
            margin: 0rem 0rem 0.419rem 0.009rem;
            width: calc(100% - 0.0086rem);
  
            .vector-3LP {
              flex-shrink: 0;
              height: 1.872rem;
              margin: 0.01rem 0.377rem 0rem 0rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.4001rem;
            }
            .vector-Jn7 {
              flex-shrink: 0;
              height: 1.8762rem;
              margin: 0.014rem 0.537rem 0rem 0rem;
              object-fit: contain;
              vertical-align: top;
              width: 0.4225rem;
            }
            .vector-DPH {
              flex-shrink: 0;
              height: 1.8786rem;
              margin: 0.009rem 0.472rem 0rem 0rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.3113rem;
            }
            .vector-vYb {
              flex-shrink: 0;
              height: 1.8907rem;
              margin: 0rem 0.435rem 0.001rem 0rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.3658rem;
            }
            .vector-pP5 {
              flex-shrink: 0;
              height: 1.9868rem;
              margin: 0rem 0.404rem 0.002rem 0rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.45rem;
            }
            .vector-W11 {
              flex-shrink: 0;
              height: 1.9341rem;
              margin: 0.055rem 0.468rem 0rem 0rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.7327rem;
            }
            .vector-PqV {
              flex-shrink: 0;
              height: 1.9033rem;
              margin-bottom: 0.026rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.3972rem;
            }
          }
          .group-7Fh {
            height: 0.8679rem;
            object-fit: contain;
            vertical-align: top;
            width: 11.3469rem;
          }
        }
      }
      .auto-group-yza7-ELK {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        flex-shrink: 0;
        height: 100%;
        padding: 0.8rem 0rem 0.2rem 65rem;
  
        .auto-group-6jrt-iWP {
          flex-shrink: 0;
          margin: 0.9rem 4rem 0rem 0rem;
          width: 6.4rem;
  
          .about-us-21H {
            color: #212529;
            font-family: Circular Std, 'Source Sans Pro';
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.2575;
            margin-bottom: 1.2rem;
            white-space: nowrap;
          }
          .rectangle-522-grX {
            background-color: #00bdf5;
            height: 0.3rem;
            width: 100%;
          }
        }
        .auto-group-wcvf-Pkw {
          flex-shrink: 0;
          height: calc(100% - 1.2rem);
          margin: 0.9rem 3.5rem 0.3rem 0rem;
          position: relative;
          width: 5.7rem;
  
          .service-H5d {
            color: #212529;
            font-family: Circular Std, 'Source Sans Pro';
            font-size: 1.5rem;
            font-weight: 500;
            height: 1.9rem;
            left: 0;
            line-height: 1.2575;
            position: absolute;
            top: 0;
            white-space: nowrap;
            width: 4.6rem;
          }
          .pointinghand-wvs {
            height: 1.7rem;
            left: 4.1rem;
            object-fit: contain;
            position: absolute;
            top: 1.4rem;
            vertical-align: top;
            width: 1.6rem;
          }
        }
        .cases-qFZ {
          color: #868e96;
          flex-shrink: 0;
          font-family: Circular Std, 'Source Sans Pro';
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 1.2575;
          margin: 0rem 4.4rem 0.6rem 0rem;
          white-space: nowrap;
        }
        .blog-j63 {
          color: #868e96;
          flex-shrink: 0;
          font-family: Circular Std, 'Source Sans Pro';
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 1.2575;
          margin: 0rem 4.2rem 0.6rem 0rem;
          white-space: nowrap;
        }
        .training-SFM {
          color: #868e96;
          flex-shrink: 0;
          font-family: Circular Std, 'Source Sans Pro';
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 1.2575;
          margin: 0rem 4.4rem 0.6rem 0rem;
          white-space: nowrap;
        }
        .careers-k19 {
          color: #868e96;
          flex-shrink: 0;
          font-family: Circular Std, 'Source Sans Pro';
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 1.2575;
          margin: 0rem 4.6rem 0.6rem 0rem;
          white-space: nowrap;
        }
        .group-1-d4w {
          align-items: center;
          background-color: #00bdf5;
          border-radius: 0.4rem;
          color: #ffffff;
          display: flex;
          flex-shrink: 0;
          font-family: Circular Std, 'Source Sans Pro';
          font-size: 1.5rem;
          font-weight: 500;
          height: 3.6rem;
          justify-content: center;
          line-height: 1.2575;
          margin: 0rem 2.4rem 0.7rem 0rem;
          white-space: nowrap;
          width: 12.4rem;
        }
        .auto-group-p8dh-2sm {
          flex-shrink: 0;
          height: calc(100% - 2.4rem);
          margin: 0.9rem 0rem 1.5rem 0rem;
          position: relative;
          width: 5.7rem;
  
          .vn-eng-LNf {
            align-items: baseline;
            color: #191919;
            display: flex;
            font-family: Circular Std, 'Source Sans Pro';
            font-size: 1.5rem;
            font-weight: 400;
            height: 1.9rem;
            left: 0;
            line-height: 1.2650000254;
            position: absolute;
            top: 0;
            white-space: nowrap;
            width: 5.7rem;
  
            .vn-eng-LNf-sub-0 {
              color: #adb5bd;
              font-family: Circular Std, 'Source Sans Pro';
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2575;
            }
            .vn-eng-LNf-sub-1 {
              color: #4d4d4d;
              font-family: Circular Std, 'Source Sans Pro';
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2575;
            }
            .vn-eng-LNf-sub-2 {
              color: #212529;
              font-family: Circular Std, 'Source Sans Pro';
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2575;
            }
          }
          .rectangle-477-2gj {
            background-color: #b2b2b2;
            height: 1.3rem;
            left: 2.9rem;
            position: absolute;
            top: 0.3rem;
            width: 0.1rem;
          }
        }
      }
    }
    .auto-group-dj8b-J8T {
      align-items: flex-start;
      display: flex;
      height: 13.7rem;
      left: 10.3rem;
      position: absolute;
      top: 17.6rem;
      width: 149.7rem;
  
      .rectangle-526-aLs {
        background-color: rgba(0, 189, 245, 0.400000006);
        border-radius: 0.4rem;
        flex-shrink: 0;
        height: 8rem;
        margin-right: 14.2rem;
        width: 8rem;
      }
      .rectangle-527-UBM {
        background-color: rgba(107, 213, 209, 0.400000006);
        border-radius: 0.4rem;
        flex-shrink: 0;
        height: 4.4rem;
        margin: 9.3rem 10.5rem 0rem 0rem;
        width: 4.4rem;
      }
      .group-13-92b {
        flex-shrink: 0;
        height: calc(100% - 3.6rem);
        margin: 2.7rem 13.6rem 0.9rem 0rem;
        position: relative;
        width: 73.1rem;
  
        .a-team-that-has-fun-eEF {
          color: #212529;
          font-family: Circular Std, 'Source Sans Pro';
          font-size: 8rem;
          font-weight: 700;
          height: 10.1rem;
          left: 0.5rem;
          line-height: 1.2575;
          position: absolute;
          top: 0;
          white-space: nowrap;
          width: 68rem;
        }
        .rectangle-525-KbH {
          background-color: rgba(0, 189, 245, 0.200000003);
          height: 2.6rem;
          left: 0;
          opacity: 0.2;
          position: absolute;
          top: 6.2rem;
          width: 73.1rem;
        }
      }
      .rectangle-533-R8X {
        background-color: rgba(107, 213, 209, 0.400000006);
        border-radius: 0.4rem;
        flex-shrink: 0;
        height: 2.2rem;
        margin-right: 18.1rem;
        width: 2.2rem;
      }
      .rectangle-531-j9D {
        background-color: rgba(0, 189, 245, 0.400000006);
        border-radius: 0.4rem;
        flex-shrink: 0;
        height: 5.6rem;
        margin-top: 2.7rem;
        width: 5.6rem;
      }
    }
    .lifesup-leadership-qCF {
      align-items: baseline;
      color: #212529;
      display: flex;
      font-family: Circular Std, 'Source Sans Pro';
      font-size: 4.8rem;
      font-weight: 700;
      height: 6.1rem;
      left: 25.5rem;
      line-height: 1.2575;
      position: absolute;
      top: 102.8rem;
      white-space: nowrap;
      width: 40rem;
  
      .lifesup-leadership-qCF-sub-0 {
        color: #018e86;
        font-family: Circular Std, 'Source Sans Pro';
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 1.2575;
        text-transform: uppercase;
      }
      .lifesup-leadership-qCF-sub-1 {
        color: #018bb9;
        font-family: Circular Std, 'Source Sans Pro';
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 1.2575;
        text-transform: uppercase;
      }
      .lifesup-leadership-qCF-sub-2 {
      }
      .lifesup-leadership-qCF-sub-3 {
        color: #212529;
        font-family: Circular Std, 'Source Sans Pro';
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 1.2575;
      }
    }
    .lifesup-member-fyu {
      align-items: baseline;
      color: #212529;
      display: flex;
      font-family: Circular Std, 'Source Sans Pro';
      font-size: 4.8rem;
      font-weight: 400;
      height: 6.1rem;
      left: 25.5rem;
      line-height: 1.2575;
      position: absolute;
      top: 186.9rem;
      white-space: nowrap;
      width: 34.4rem;
  
      .lifesup-member-fyu-sub-0 {
        color: #018e86;
        font-family: Circular Std, 'Source Sans Pro';
        font-size: 4.8rem;
        font-weight: 400;
        line-height: 1.2575;
        text-transform: uppercase;
      }
      .lifesup-member-fyu-sub-1 {
        color: #018bb9;
        font-family: Circular Std, 'Source Sans Pro';
        font-size: 4.8rem;
        font-weight: 400;
        line-height: 1.2575;
        text-transform: uppercase;
      }
      .lifesup-member-fyu-sub-2 {
      }
    }
    .auto-group-uzkf-uFy {
      align-items: center;
      column-gap: 3rem;
      display: flex;
      height: 37rem;
      left: 25.5rem;
      position: absolute;
      top: 113.3rem;
      width: 117rem;
  
      .image-7-nqZ {
        border-radius: 0.4rem;
        flex-shrink: 0;
        height: 37rem;
        object-fit: cover;
        vertical-align: top;
        width: 37rem;
      }
      .image-9-JJ7 {
        border-radius: 0.4rem;
        flex-shrink: 0;
        height: 37rem;
        object-fit: cover;
        vertical-align: top;
        width: 37rem;
      }
      .image-10-okf {
        border-radius: 0.4rem;
        flex-shrink: 0;
        height: 37rem;
        object-fit: cover;
        vertical-align: top;
        width: 37rem;
      }
    }
    .auto-group-guef-82F {
      align-items: center;
      display: flex;
      height: 2.7rem;
      left: 25.5rem;
      position: absolute;
      top: 155.7rem;
      width: 90.5rem;
  
      .frame-10-Rn3 {
        align-items: center;
        background-color: #6bd5d1;
        border-radius: 0.4rem;
        color: #ffffff;
        display: flex;
        flex-shrink: 0;
        font-family: Circular Std, 'Source Sans Pro';
        font-size: 1.5rem;
        font-weight: 500;
        height: 100%;
        justify-content: center;
        line-height: 1.2575;
        margin-right: 26.2rem;
        overflow: hidden;
        position: relative;
        white-space: nowrap;
        width: 13.8rem;
      }
      .frame-11-fRV {
        align-items: center;
        background-color: #6bd5d1;
        border-radius: 0.4rem;
        color: #ffffff;
        display: flex;
        flex-shrink: 0;
        font-family: Circular Std, 'Source Sans Pro';
        font-size: 1.5rem;
        font-weight: 500;
        height: 100%;
        justify-content: center;
        line-height: 1.2575;
        margin-right: 27.1rem;
        overflow: hidden;
        position: relative;
        white-space: nowrap;
        width: 12.9rem;
      }
      .frame-12-uqd {
        align-items: center;
        background-color: #6bd5d1;
        border-radius: 0.4rem;
        color: #ffffff;
        display: flex;
        flex-shrink: 0;
        font-family: Circular Std, 'Source Sans Pro';
        font-size: 1.5rem;
        font-weight: 500;
        height: 100%;
        justify-content: center;
        line-height: 1.2575;
        overflow: hidden;
        position: relative;
        white-space: nowrap;
        width: 10.5rem;
      }
    }
    .auto-group-mxrv-aB5 {
      align-items: center;
      display: flex;
      height: 2.7rem;
      left: 25.5rem;
      position: absolute;
      top: 229.5rem;
      width: 95.9rem;
  
      .frame-13-fyD {
        align-items: center;
        background-color: #6bd5d1;
        border-radius: 0.4rem;
        color: #ffffff;
        display: flex;
        flex-shrink: 0;
        font-family: Circular Std, 'Source Sans Pro';
        font-size: 1.5rem;
        font-weight: 400;
        height: 100%;
        justify-content: center;
        line-height: 1.2575;
        margin-right: 17.7rem;
        overflow: hidden;
        position: relative;
        white-space: nowrap;
        width: 12.3rem;
      }
      .frame-14-vu9 {
        align-items: center;
        background-color: #6bd5d1;
        border-radius: 0.4rem;
        color: #ffffff;
        display: flex;
        flex-shrink: 0;
        font-family: Circular Std, 'Source Sans Pro';
        font-size: 1.5rem;
        font-weight: 400;
        height: 100%;
        justify-content: center;
        line-height: 1.2575;
        margin-right: 26.1rem;
        overflow: hidden;
        position: relative;
        white-space: nowrap;
        width: 3.9rem;
      }
      .frame-15-Pnj {
        align-items: center;
        background-color: #6bd5d1;
        border-radius: 0.4rem;
        color: #ffffff;
        display: flex;
        flex-shrink: 0;
        font-family: Circular Std, 'Source Sans Pro';
        font-size: 1.5rem;
        font-weight: 400;
        height: 100%;
        justify-content: center;
        line-height: 1.2575;
        margin-right: 24.1rem;
        overflow: hidden;
        position: relative;
        white-space: nowrap;
        width: 5.9rem;
      }
      .frame-16-EYT {
        align-items: center;
        background-color: #6bd5d1;
        border-radius: 0.4rem;
        color: #ffffff;
        display: flex;
        flex-shrink: 0;
        font-family: Circular Std, 'Source Sans Pro';
        font-size: 1.5rem;
        font-weight: 400;
        height: 100%;
        justify-content: center;
        line-height: 1.2575;
        overflow: hidden;
        position: relative;
        white-space: nowrap;
        width: 5.9rem;
      }
    }
    .auto-group-gq6j-tsu {
      align-items: center;
      display: flex;
      height: 2.7rem;
      left: 25.5rem;
      position: absolute;
      top: 268.6rem;
      width: 99.6rem;
  
      .frame-17-PJs {
        align-items: center;
        background-color: #6bd5d1;
        border-radius: 0.4rem;
        color: #ffffff;
        display: flex;
        flex-shrink: 0;
        font-family: Circular Std, 'Source Sans Pro';
        font-size: 1.5rem;
        font-weight: 400;
        height: 100%;
        justify-content: center;
        line-height: 1.2575;
        margin-right: 18.4rem;
        overflow: hidden;
        position: relative;
        white-space: nowrap;
        width: 11.6rem;
      }
      .frame-18-SY3 {
        align-items: center;
        background-color: #6bd5d1;
        border-radius: 0.4rem;
        color: #ffffff;
        display: flex;
        flex-shrink: 0;
        font-family: Circular Std, 'Source Sans Pro';
        font-size: 1.5rem;
        font-weight: 400;
        height: 100%;
        justify-content: center;
        line-height: 1.2575;
        margin-right: 15.4rem;
        overflow: hidden;
        position: relative;
        white-space: nowrap;
        width: 14.6rem;
      }
      .frame-19-hym {
        align-items: center;
        background-color: #6bd5d1;
        border-radius: 0.4rem;
        color: #ffffff;
        display: flex;
        flex-shrink: 0;
        font-family: Circular Std, 'Source Sans Pro';
        font-size: 1.5rem;
        font-weight: 400;
        height: 100%;
        justify-content: center;
        line-height: 1.2575;
        margin-right: 20.4rem;
        overflow: hidden;
        position: relative;
        white-space: nowrap;
        width: 9.6rem;
      }
      .frame-20-Nq1 {
        align-items: center;
        background-color: #6bd5d1;
        border-radius: 0.4rem;
        color: #ffffff;
        display: flex;
        flex-shrink: 0;
        font-family: Circular Std, 'Source Sans Pro';
        font-size: 1.5rem;
        font-weight: 400;
        height: 100%;
        justify-content: center;
        line-height: 1.2575;
        overflow: hidden;
        position: relative;
        white-space: nowrap;
        width: 9.6rem;
      }
    }
    .auto-group-d355-RoH {
      align-items: flex-start;
      column-gap: 10.1rem;
      display: flex;
      height: 13.2rem;
      left: 25.5rem;
      position: absolute;
      top: 160rem;
      width: 107.7rem;
  
      .ofer-is-a-serial-entrepreneur-with-10-year-of-experience-in-leading-corporate-management-and-business-and-technology-activities-ofer-is-a-true-driver-and-a-heart-of-fayrix-team-he-has-a-knack-for-building-new-realiable-relationships-KNs {
        color: #495057;
        flex-shrink: 0;
        font-family: Circular Std, 'Source Sans Pro';
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.4666666667;
        max-width: 29.9rem;
      }
      .vitaly-started-his-career-back-in-2004-as-a-jr-system-engineer-and-has-eventually-evolved-into-a-skilled-it-professional-and-manager-vitaly-is-an-author-of-a-number-of-open-source-projects-winner-of-java-one-and-honorable-paticipant-of-jboss-world-contests-Jkb {
        color: #495057;
        flex-shrink: 0;
        font-family: Circular Std, 'Source Sans Pro';
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.4666666667;
        max-width: 30.1rem;
      }
      .alexey-has-over-15-years-of-experience-in-it-consulting-and-data-science-he-created-and-managed-analytical-system-and-data-warehouse-development-projects-gm9 {
        color: #495057;
        flex-shrink: 0;
        font-family: Circular Std, 'Source Sans Pro';
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.4666666667;
        max-width: 27.5rem;
      }
    }
    .auto-group-husj-vfV {
      align-items: center;
      display: flex;
      height: 3.1rem;
      left: 25.5rem;
      position: absolute;
      top: 151.9rem;
      width: 87rem;
  
      .linh-le-EAP {
        color: #00bdf5;
        flex-shrink: 0;
        font-family: Circular Std, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.2575;
        margin-right: 33rem;
        white-space: nowrap;
      }
      .binh-pham-vou {
        color: #00bdf5;
        flex-shrink: 0;
        font-family: Circular Std, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.2575;
        margin-right: 28.8rem;
        white-space: nowrap;
      }
      .ha-van-37q {
        color: #00bdf5;
        flex-shrink: 0;
        font-family: Circular Std, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.2575;
        white-space: nowrap;
      }
    }
    .auto-group-2yfz-Z6B {
      align-items: center;
      display: flex;
      height: 3.1rem;
      left: 25.5rem;
      position: absolute;
      top: 225.7rem;
      width: 99.8rem;
  
      .linh-le-rb5 {
        color: #212529;
        flex-shrink: 0;
        font-family: Circular Std, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2575;
        margin-right: 22.8rem;
        white-space: nowrap;
      }
      .trang-dao-mxw {
        color: #212529;
        flex-shrink: 0;
        font-family: Circular Std, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2575;
        margin-right: 19.8rem;
        white-space: nowrap;
      }
      .trung-tran-h5u {
        color: #212529;
        flex-shrink: 0;
        font-family: Circular Std, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2575;
        margin-right: 19.2rem;
        white-space: nowrap;
      }
      .hai-pham-1cP {
        color: #212529;
        flex-shrink: 0;
        font-family: Circular Std, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2575;
        white-space: nowrap;
      }
    }
    .auto-group-eeh9-vzF {
      align-items: center;
      display: flex;
      height: 3.1rem;
      left: 25.5rem;
      position: absolute;
      top: 264.8rem;
      width: 99.8rem;
  
      .linh-le-e9Z {
        color: #212529;
        flex-shrink: 0;
        font-family: Circular Std, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2575;
        margin-right: 22.8rem;
        white-space: nowrap;
      }
      .trang-dao-ANo {
        color: #212529;
        flex-shrink: 0;
        font-family: Circular Std, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2575;
        margin-right: 19.8rem;
        white-space: nowrap;
      }
      .trung-tran-5Vm {
        color: #212529;
        flex-shrink: 0;
        font-family: Circular Std, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2575;
        margin-right: 19.2rem;
        white-space: nowrap;
      }
      .hai-pham-oAs {
        color: #212529;
        flex-shrink: 0;
        font-family: Circular Std, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2575;
        white-space: nowrap;
      }
    }
    .auto-group-vbk1-XMm {
      align-items: center;
      background-color: #00212b;
      border-radius: 0.4rem;
      box-sizing: border-box;
      column-gap: 0.45rem;
      display: flex;
      height: 58.7rem;
      left: 5.6rem;
      padding: 14.2rem 29.9rem 9rem 33.5rem;
      position: absolute;
      top: 284.3rem;
      width: 156.8rem;
  
      .rectangle-541-kkK {
        background-color: rgba(107, 213, 209, 0.400000006);
        border-radius: 0.4rem;
        flex-shrink: 0;
        height: 4.4rem;
        margin-top: 23.9rem;
        width: 4.4rem;
      }
      .auto-group-knpv-St3 {
        flex-shrink: 0;
        height: 22.2rem;
        margin-bottom: 13.3rem;
        position: relative;
        width: 80.1rem;
  
        .rectangle-540-xbV {
          background-color: rgba(0, 189, 245, 0.400000006);
          border-radius: 0.4rem;
          height: 7rem;
          left: 6.95rem;
          position: absolute;
          top: 0;
          width: 7rem;
        }
        .rectangle-543-4Pd {
          background-color: rgba(0, 189, 245, 0.400000006);
          border-radius: 0.4rem;
          height: 2.9rem;
          left: 69.45rem;
          position: absolute;
          top: 5.6rem;
          width: 2.9rem;
        }
        .group-14-ZbH {
          align-items: center;
          display: flex;
          flex-direction: column;
          height: 14.1rem;
          left: 0;
          position: absolute;
          top: 8.1rem;
          width: 80.1rem;
  
          .our-mission-GEo {
            color: #ffffff;
            flex-shrink: 0;
            font-family: Circular Std, 'Source Sans Pro';
            font-size: 4.8rem;
            font-weight: 700;
            line-height: 1.2575;
            margin: 0rem 2.1rem 1.6rem 0rem;
            white-space: nowrap;
          }
          .to-make-the-top-quality-custom-software-development-and-big-data-services-available-worldwide-and-affordable-for-businesses-of-any-sizes-x7d {
            color: #ffffff;
            flex-shrink: 0;
            font-family: Circular Std, 'Source Sans Pro';
            font-size: 1.9rem;
            font-weight: 400;
            line-height: 1.6842105263;
            max-width: 80.1rem;
            text-align: center;
          }
        }
      }
      .rectangle-542-aPu {
        background-color: rgba(107, 213, 209, 0.400000006);
        border-radius: 0.4rem;
        flex-shrink: 0;
        height: 8rem;
        margin-top: 27.5rem;
        width: 8rem;
      }
    }
    .auto-group-uqzu-rMR {
      align-items: center;
      display: flex;
      height: 47.2rem;
      left: 25.5rem;
      position: absolute;
      top: 348.8rem;
      width: 136.9002rem;
  
      .group-15-xQT {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        height: calc(100% - 23.9rem);
        margin: 9.2rem 0.4rem 14.7rem 0rem;
  
        .our-values-rkj {
          color: #212529;
          flex-shrink: 0;
          font-family: Circular Std, 'Source Sans Pro';
          font-size: 4.8rem;
          font-weight: 700;
          line-height: 1.2575;
          margin-bottom: 1.2rem;
          white-space: nowrap;
        }
        .lifesup-is-not-just-a-team-of-it-developers-we-are-a-team-of-inspired-creators-and-sincere-friends-our-corporate-culture-is-built-around-3-solid-pillars--msh {
          color: #495057;
          flex-shrink: 0;
          font-family: Circular Std, 'Source Sans Pro';
          font-size: 1.7rem;
          line-height: 1.8823529412;
          max-width: 26.7rem;
        }
      }
      .auto-group-uhkr-BwR {
        flex-shrink: 0;
        height: 100%;
        position: relative;
        width: 109.8002rem;
  
        .group-tqq {
          height: 47.2rem;
          left: 0;
          object-fit: contain;
          opacity: 0.3;
          position: absolute;
          top: 0;
          vertical-align: top;
          width: 109.8002rem;
        }
        .rectangle-485-QZH {
          background-color: #ffffff;
          border-radius: 0.4rem;
          box-shadow: 0 2rem 3rem rgba(33, 37, 41, 0.0799999982);
          height: 26.8rem;
          left: 2.9rem;
          position: absolute;
          top: 7.5rem;
          width: 27rem;
        }
        .rectangle-518-sBy {
          background-color: #ffffff;
          border-radius: 0.4rem;
          box-shadow: 0 2rem 3rem rgba(33, 37, 41, 0.0799999982);
          height: 26.8rem;
          left: 33.1rem;
          position: absolute;
          top: 7.5rem;
          width: 27rem;
        }
        .dedication-to-quality-9fH {
          color: #212529;
          font-family: Circular Std, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 500;
          height: 2.6rem;
          left: 37.8rem;
          line-height: 1.2575;
          position: absolute;
          text-align: center;
          top: 28rem;
          white-space: nowrap;
          width: 17.4rem;
        }
        .rectangle-519-pWX {
          background-color: #ffffff;
          border-radius: 0.4rem;
          box-shadow: 0 2rem 3rem rgba(33, 37, 41, 0.0799999982);
          height: 26.8rem;
          left: 62.9rem;
          position: absolute;
          top: 7.5rem;
          width: 27rem;
        }
        .focus-on-result-u2B {
          color: #212529;
          font-family: Circular Std, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 500;
          height: 2.6rem;
          left: 69.85rem;
          line-height: 1.2575;
          position: absolute;
          text-align: center;
          top: 28rem;
          white-space: nowrap;
          width: 12.7rem;
        }
        .personal-responsibility-BVV {
          color: #212529;
          font-family: Circular Std, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 500;
          height: 2.6rem;
          left: 5.5rem;
          line-height: 1.2575;
          position: absolute;
          top: 28rem;
          white-space: nowrap;
          width: 19.1rem;
        }
        .undrawdevfocusb9xo-1-555 {
          height: 11.9997rem;
          left: 66.4rem;
          object-fit: contain;
          position: absolute;
          top: 12.0003rem;
          vertical-align: top;
          width: 19.7rem;
        }
        .undrawcreationprocessukbh-1-myV {
          height: 13rem;
          left: 7.1rem;
          object-fit: contain;
          position: absolute;
          top: 11.5rem;
          vertical-align: top;
          width: 18.8rem;
        }
        .undrawcertificate343v-1-4hh {
          height: 13.1rem;
          left: 37.9rem;
          object-fit: contain;
          position: absolute;
          top: 11.4rem;
          vertical-align: top;
          width: 17.2rem;
        }
      }
    }
    .auto-group-l8wx-9z3 {
      align-items: center;
      display: flex;
      height: 55.4rem;
      left: 5.6rem;
      position: absolute;
      top: 37.6rem;
      width: 156.8rem;
  
      .mask-group-rdZ {
        flex-shrink: 0;
        height: 55.4rem;
        margin-right: 2.4rem;
        object-fit: contain;
        position: relative;
        vertical-align: top;
        width: 109.9rem;
      }
      .auto-group-xssr-xRh {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        height: 100%;
  
        .rectangle-678-h8P {
          flex-shrink: 0;
          height: 26.5rem;
          margin-bottom: 2.4rem;
          object-fit: cover;
          vertical-align: top;
          width: 44.5rem;
        }
        .mask-group-ZwH {
          flex-shrink: 0;
          height: 26.5rem;
          object-fit: contain;
          position: relative;
          vertical-align: top;
          width: 44.5rem;
        }
      }
    }
    .auto-group-1cs5-gFD {
      align-items: center;
      column-gap: 3rem;
      display: flex;
      height: 27rem;
      left: 25.5rem;
      position: absolute;
      top: 197.1rem;
      width: 117rem;
  
      .rectangle-702-Zpo {
        border-radius: 0.4rem;
        flex-shrink: 0;
        height: 27rem;
        object-fit: cover;
        vertical-align: top;
        width: 27rem;
      }
      .rectangle-703-g8j {
        border-radius: 0.4rem;
        flex-shrink: 0;
        height: 27rem;
        object-fit: cover;
        vertical-align: top;
        width: 27rem;
      }
      .rectangle-704-nhZ {
        border-radius: 0.4rem;
        flex-shrink: 0;
        height: 27rem;
        object-fit: cover;
        vertical-align: top;
        width: 27rem;
      }
      .rectangle-705-h3q {
        border-radius: 0.4rem;
        flex-shrink: 0;
        height: 27rem;
        object-fit: cover;
        vertical-align: top;
        width: 27rem;
      }
    }
    .auto-group-ruv9-oMm {
      align-items: center;
      column-gap: 3rem;
      display: flex;
      height: 27rem;
      left: 25.5rem;
      position: absolute;
      top: 236.2rem;
      width: 117rem;
  
      .rectangle-706-6bm {
        border-radius: 0.4rem;
        flex-shrink: 0;
        height: 27rem;
        object-fit: cover;
        vertical-align: top;
        width: 27rem;
      }
      .rectangle-708-QMZ {
        border-radius: 0.4rem;
        flex-shrink: 0;
        height: 27rem;
        object-fit: cover;
        vertical-align: top;
        width: 27rem;
      }
      .rectangle-707-vao {
        border-radius: 0.4rem;
        flex-shrink: 0;
        height: 27rem;
        object-fit: cover;
        vertical-align: top;
        width: 27rem;
      }
      .rectangle-709-SZ9 {
        border-radius: 0.4rem;
        flex-shrink: 0;
        height: 27rem;
        object-fit: cover;
        vertical-align: top;
        width: 27rem;
      }
    }
  }